.price{
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    color: rgba(242, 242, 243, 1);
}

.name{
    color: rgba(242, 242, 243, 1);
}

.card {
    all: unset;
    width: 272px;
    position: relative;
  }

  .underline{
    text-decoration: none;
  }
