.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.linkBox{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 12px;
    margin-bottom: 16px;
}

.link{
    color: rgba(76, 76, 255, 1);
    text-decoration: none;
}
