.container{
    display: flex;
    margin-left: 146px;
    margin-top: 120px;
    gap: 60px;
}

.leftBlock{
    display: flex;
    flex-direction: column;

    width: 320px;
}

.linkContainer{
    padding: 16px 0;
}

.first{
    padding-top: 0;
}

.last{
    padding-bottom: 0;
}

.active{
    text-decoration: none;
    color: rgba(242, 242, 243, 1);
}

.passive{
    text-decoration: none;
    color: rgba(133, 133, 173, 1);
}

.annotation{
    color: rgba(133, 133, 173, 1);

}

.blockWithScroll {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 520px;
  
    padding-right: 8px;
    scrollbar-color: rgba(133, 133, 173, 1) rgba(47, 47, 55, 1);
    scrollbar-width: thin;
    overflow-y: scroll;
  }