.container {
  width: 600px;
  gap: 0px;
}

.products {
  height: 800px;
  scrollbar-color: rgba(133, 133, 173, 1) rgba(47, 47, 55, 1);
  scrollbar-width: thin;
  overflow-y: scroll;
  margin-bottom: 16px;
}

.tabs{
  display: flex;
}
