.firstCircle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 75px;

  background: linear-gradient(rgba(128, 26, 178, 1), rgba(76, 76, 255, 1));
  border-radius: 50%;
  margin-right: -25px;

}

.secondCircle {
  width: 70px;
  height: 70px;

  background-color: rgba(19, 19, 22, 1);
  border-radius: 50%;
}

.photo {
  width: 110px;
  margin-left: -20px;
  margin-top: 7px;
}


